<body class="d4g index" data-ng-app="d4g"> 
 <div class="d4g-header header"> 
  <h1 class="product-logo"> <a href="../doodle4google/index.html"><img alt="Google" src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_120x48dp.png"></a> </h1> 
  <nav animated-nav=""> 
   <div class="header-active-state"></div> 
   <ul class="header-sections"> 
    <li class="show-extra-large-up nav-item-home"> <a alt="Doodle4Google Home" class="active" data-ng-cloak="" href="../doodle4google/index.html">Home</a> </li> 
    <li class="show-extra-large-up nav-item-how-it-works"> <a alt="How it works" class="nav-link-how-it-works" data-ng-cloak="" href="how-it-works.html">How it works</a> </li> 
    <li class="show-extra-large-up nav-item-prizes"> <a alt="Prizes" class="nav-link-prizes" data-ng-cloak="" href="prizes.html">Prizes</a> </li> 
    <li class="show-extra-large-up nav-item-judges"> <a alt="Judges" class="nav-link-judges" data-ng-cloak="" href="judges.html">Judges</a> </li> 
    <li class="show-extra-large-up nav-item-faq"> <a alt="Faq" class="nav-link-faq" data-ng-cloak="" href="faq.html">Faq</a> </li> 
    <li class="show-extra-large-up nav-item-submit vote"> <a alt="Vote" class="nav-link-submit vote" data-ng-cloak="" ga-event="Vote-Navigation" ga-event-href="vote.html" href="vote.html">Vote</a> </li> 
    <li class="nav-toggle show-large-down" data-ng-cloak="" ng-click="navCtrl.menu=!navCtrl.menu">&nbsp; </li> 
   </ul> 
  </nav> 
  <nav class="nav-mobile show-large-down"> 
   <div class="nav-wrapper"> 
    <div class="nav-floating" data-ng-cloak="" data-ng-show="navCtrl.menu" ng-class="{'open': navCtrl.menu}"> 
     <div class="v-align-parent"> 
      <ul class="v-align"> 
       <li class="nav-toggle show-large-down" data-ng-show="navCtrl.menu" ng-click="navCtrl.menu=!navCtrl.menu">+ </li> 
       <li class="nav-item-home"> <a alt="Doodle4Google Home" class="active" href="../doodle4google/index.html"> <h2> Home </h2></a> </li> 
       <li class="nav-item-how-it-works"> <a class="" href="how-it-works.html"> <h2> How it works </h2></a> </li> 
       <li class="nav-item-prizes"> <a class="" href="prizes.html"> <h2> Prizes </h2></a> </li> 
       <li class="nav-item-judges"> <a class="" href="judges.html"> <h2> Judges </h2></a> </li> 
       <li class="nav-item-faq"> <a class="" href="faq.html"> <h2> Faq </h2></a> </li> 
       <li class="nav-item-submit vote"> <a class="" ga-event="Vote-Navigation" ga-event-href="vote.html" href="vote.html"> <h2> Vote </h2></a> </li> 
      </ul> 
     </div> 
    </div> 
   </div> 
  </nav> 
 </div> 
 <script>
    var axel = Math.random() + "";
    var a = axel * 10000000000000;
    document.write('<iframe class="floodlight" src="https://2542116.fls.doubleclick.net/activityi;src=2542116;type=doodl4g;cat=doodl00;ord=' + a + '?" width="1" height="1" frameborder="0"></iframe>');
    </script> 
 <noscript> 
  <iframe class="floodlight" frameborder="0" height="1" src="https://2542116.fls.doubleclick.net/activityi;src=2542116;type=doodl4g;cat=doodl00;ord=1?" width="1"></iframe> 
 </noscript> 
 <div class="d4g-2015" data-ng-controller="HomeCtrl as homeCtrl"> 
  <div class="video-bg p3" video-bg=""> 
   <video autoplay="" class="show-large-only" loop="" poster="/doodle4google/2015/images/transparent.png"> 
    <source src="https://www.google.com/doodle4google/2015/video/large.mp4" type="video/mp4"> 
    <source src="https://www.google.com/doodle4google/2015/video/large.webm" type="video/webm"> 
    <source src="https://www.google.com/doodle4google/2015/video/large.ogv" type="video/ogv"> 
    <source src="https://www.google.com/doodle4google/2015/video/large_ie2.mp4" type="video/mp4"> 
   </video> 
   <video autoplay="" class="show-extra-large-up" loop="" poster="/doodle4google/2015/images/transparent.png"> 
    <source src="https://www.google.com/doodle4google/2015/video/extra_large.mp4" type="video/mp4"> 
    <source src="https://www.google.com/doodle4google/2015/video/extra_large.webm" type="video/webm"> 
    <source src="https://www.google.com/doodle4google/2015/video/extra_large.ogv" type="video/ogv"> 
    <source src="https://www.google.com/doodle4google/2015/video/large_ie2.mp4" type="video/mp4"> 
   </video> 
  </div> 
  <div class="d4g-wrapper"> 
   <div class="d4g-main site-width" role="main"> 
    <div class="d4g-hero safe-area"> 
     <picture> 
      <source media="" srcset="/doodle4google/2015/images/header.png, /doodle4google/2015/images/header_2x.png 2x"> 
      <img alt="" class="logo" srcset="/doodle4google/2015/images/header.png, /doodle4google/2015/images/header_2x.png 2x"> 
     </picture> 
     <div class="safe-area"> 
      <h1 class="new-size"> VOTE FOR YOUR FAVORITE DOODLES </h1> 
      <p> The judges have selected 53 State and Territory Winners from the many incredible doodles entered in this year's competition. From now until February 22, 2016, it's your turn to help us choose the five National Finalists. One winner will have his or her artwork featured on the Google homepage. </p> 
      <a class="cta-w-bg big centered vote" ga-event="Vote-CTA-index" ga-event-href="vote.html" href="vote.html"><span>VOTE</span></a> 
      <hr class="slide-in-up show-medium-down"> 
     </div> 
    </div> 
   </div> 
  </div> 
  <div class="push"></div> 
 </div> 
 <footer> 
  <div class="footer"> 
   <div class="inner-wrapper"> 
    <nav class="google-nav"> 
     <a href="../doodle4google/rules.html" target="_blank">Contest Rules</a> 
     <a href="../doodle4google/partners.html" target="_blank">Partners</a> 
     <a href="https://www.google.com/doodles/about" target="_blank">History</a> 
     <a href="https://www.google.com/doodles/" target="_blank">Doodle Gallery</a> 
     <a href="/policies/terms/" target="_blank">Terms</a> 
     <a href="/policies/privacy/" target="_blank">Privacy</a> 
    </nav> 
   </div> 
  </div> 
 </footer> 
 <script src="//www.gstatic.com/external_hosted/picturefill/picturefill.min.js">
    </script> 
 <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js">
    </script> 
 <script src="//www.gstatic.com/external_hosted/gsap/v1_16_1/TweenLite.min.js">
    </script> 
 <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-touch.min.js">
    </script> 
 <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-sanitize.min.js">
    </script> 
 <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js">
    </script> 
 <script src="/doodle4google/2015/js/main.min.js">
    </script> 
 <script id="/doodle4google/glue/modal/modal-template.html" type="text/ng-template">
    <div>
      <div class="glue-modal-overlay"
          data-glue-show="modalCtrl.getModalVisible()"
          ng-click="modalCtrl.hideModal($event)">
        <div class="glue-modal"
            data-glue-show="modalCtrl.getModalVisible()"
            role="dialog" tabindex="-1">
          <button class="glue-modal-close" aria-label="close">+</button>
          <div class="glue-modal-content" data-ng-transclude></div>
        </div>
      </div>
    </div>
    </script>  
</body>
